{% extends 'ChemaArsBundle::layout.html.twig' %}

{% block title %}Vouchers{% endblock %}

{% block body %}
<article class="container">
	
	<header class="col-xs-12">
		<h1>Vouchers</h1>
	</header>
	
</article>
{% endblock %}